<div class="container">
    <div class="header">
         <div class="Logo-name">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: rgb(127, 8, 8);">o</span>
                <span style="color: blue;">o</span>
            </h1>
            <h2 class="heading">Reset Password</h2>
            <h3 class="sub-heading">Enter your new password</h3>
        </div>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="Email">
            <div class="email-class" >
                <mat-form-field appearance="outline"  >
                     <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" placeholder="new password">
                    <mat-error>Enter valid password</mat-error>
                    <mat-hint class="hint">Use 8 or more characters with a mix of letters</mat-hint>                 
                </mat-form-field>
    
                <mat-form-field appearance="outline"  style="padding-top: 2vw;">
                    <mat-label>Confirm Password</mat-label>
                   <input matInput formControlName="confirmPassword" placeholder="confirmPassword">
                   <mat-error>Enter valid password</mat-error>
                   <mat-hint class="hint">Use 8 or more characters,with a mix of letters </mat-hint>                 
               </mat-form-field>
            </div>
        </div>
        </form>
        <div class="btn">
            <button class="btn-submit" mat-flat-button >Submit</button>
        </div>
        
</div>