.container{
    display: block;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;    
    min-height: 500px;
    position:absolute;
    width:446px;
    padding-left: 40px;
    padding-top:48px;
    padding-right: 40px;
    padding-bottom: 36px;
    margin-left: 35%;
    margin-top: 8%;
}
.Logo-name{
    text-align: left;
}
.btn{
    font-size: 30px;
    padding-left:-200px;
    padding-top: 60px;
}
.btn-submit{
    background-color: #1a73e8;
    height:33px;
    width:80px;
    border-radius: 3px;
    font-size: 15px; 
    text-align: center;
    color: white ;
    border: none; 
    float: right;
}