<div class="OuterDiv">

    <div class="InnerDiv">
        <form [formGroup]="createForm" (ngSubmit)="close()" >
            <div  fxLayout="row" fxLayoutAlign="none end" *ngIf="Show">
                <input class="search" formControlName="title" placeholder="Title">
                <img class="pin" src="../../../assets/pin.png">
            </div>
            <div *ngIf="!Show || Show" (click)="isshow()" fxLayout="row" fxLayoutAlign="space-between center">
                <input class="mySearch" formControlName="description" placeholder="Take a note...">
                <div class="img"  *ngIf="!Show">
                    <img src="../../../assets/checkbox.png">
                    <img src="../../../assets/brush.png">
                    <img src="../../../assets/imgs.png">
                </div>
            </div>
            <div class="img" *ngIf="!Show" >

            </div>
            <div class="add"  *ngIf="Show" >
            
                <div>
                    <app-icon-comp></app-icon-comp>
                </div>
                <div class="close" >

                    <button class="button1" (click)="close()">Close</button>
                </div>
            </div>
           
        </form>
    </div>

</div>