:root{
    color-scheme: light;
}
body{
    color:#202124;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    line-height: 1.42;
}
.Container{
    display: block;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;    
    min-height: 500px;
    position:center;
    width:748px;
    padding-left: 40px;
    padding-top:48px;
    padding-right: 40px;
    padding-bottom: 36px;
    margin-left: 25%;
    margin-top: 8%;

}
.main{
    display: flex;
    flex-direction: row;
}
.creadentials,.left-side{
    display:flex;
    flex-direction: column;
}
.full_name,.password-details{
    display: flex;
    flex-direction: row;
    gap : 20px;
}
.firstname{
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;
    width:180px;
}
.username{
    padding-top: 0 px;
}

.hint{    
        font-size: 13px;   
}
.a-class{
    color:#1a73e8;
    font-weight: 500;
    margin-top:28px;
}
.password-details{
    margin-top:28px;
    
}
.checkbox{
    margin-top: 50px;
}
.image-content{
    margin: 72px,4px,0 ;
    text-align: center;
}
img{
    margin-top: 60px;
    height: 244px;
    width:244px;
}
.text{
    font-size: 15px;
    font-weight: 300px;
    text-align: center;
    box-sizing: inherit;
}
.submit-button{
    padding-top: 40px;
}
.signin-link{
    font-weight: bold; 
    border: none;
    color:#1a73e8;
}
.next-btn{
    background-color: #1a73e8;
    height:33px;
    width:80px;
    border-radius: 3px;
    font-size: 15px; 
    text-align: center;
    color: white ;
    border: none; 
    float: right;
}
.right-side{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:252px;
}