<div class="Container main" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div class="left-side" fxLayout="column" fxLayoutAlign="center">
    <div class="Logo-name">
      <h1>
        <span style="color: blue;">F</span>
        <span style="color: red;">u</span>
        <span style="color: rgb(220, 114, 7);">n</span>
        <span style="color: green;">d</span>
        <span style="color: rgb(107, 7, 42);">o</span>
        <span style="color: blue;">o</span>
      </h1>
      <h1 class="heading">Create your FundooNote Account</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="creadentials">
        <div class="full_name" >
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="firstname">
            <mat-error>Enter valid firstname</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="lastname">
            <mat-error>Enter valid lastname</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="username" >

        <mat-form-field appearance="outline" fxFlex.xs=100 style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="email">
          <mat-error>Enter valid email</mat-error>
          <mat-hint class="hint">You can use letters,numbers & periods</mat-hint>
        </mat-form-field>

      </div>
      <a class="a-class">Use my current email address instead</a>
      <div class="password-details" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

        <mat-form-field appearance="outline" class="mat-form-field-paasword">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password">
          <mat-error>Enter valid password</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="confirmPassword" class="mat-form-field-paasword">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="confirmPassword">
          <mat-error>Enter valid password</mat-error>
        </mat-form-field>
      </div>
      <div style="margin-top: -12px;">
        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
      </div>

      <div class="checkbox">
        <mat-checkbox class="example-margin">Show password</mat-checkbox>
      </div>

      <div class="submit-button">
        <div class="submit-button">
          <a class="signin-link" mat-button>Sign in instead</a>

          <button class="next-btn" mat-raised-button>Submit</button>
        </div>

      </div>
    </form>
  </div>

  <div class="right-side">
    <div class="image-content" fxHide.xs>
      <img src="../../../assets/account.svg" aria-placeholder="account-image">
      <mat-hint class="hint text">One account. All of FundooNote working for you.</mat-hint>

    </div>
  </div>