<div class ="example-container">
    <mat-toolbar class="example-toolbar">
        <div>
            <button mat-icon-button class="menu">

            </button>
            <h1 class="example-app-name">
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div class="middle">
            <div>
                <button type="submit" class="search-button">Search</button>
                <!-- <input class="search" type="search" (keyup)="searchTitle($event)" placeholder="Search..."> -->
            </div>
            <div class="3-btn">

            </div>
        </div>
        <div class="account">
            <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item >Logout</button>
            </mat-menu> -->
        </div>
      </mat-toolbar>
      
</div>
