<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="keepimage">
            <img type="image" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
                height="40px" width="40px">
        </div>
        <h1 class="example-app-name">Fundoo</h1>
        <div class="nosubmit">
            <input class="nosubmit" type="search" placeholder="Search...">
        </div>
        <div class="cyDiv">

            <div>
                <img type="image" src="../../../assets/Refresh.png" height="26px"
                    width="26px">
            </div>
            <div>
                <img type="image" src="../../../assets/view.png" height="26px"
                    width="26px">
            </div>
            <div>
                <img type="image" src="../../../assets/settings.png" height="26px"
                    width="26px">
            </div>
        </div>
        <div class="appimage">
            <img type="image" src="../../../assets/apps.png" height="30px" width="30px">
            <img type="image" src="../../../assets/account_circle.png" height="28px"
                width="28px" class="upper-icon">
            <mat-menu #menu>
                <button mat-menu-item>Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <div class="menu" fxLayout="row" fxLayoutGap="20px">
        <div class="note1" fxLayout="column" fxLayoutGap="20px">
            <img type="image" src="../../../assets/bulb.png" height="28px" width="28px">

            <img type="image" src="../../../assets/ghnti.png" height="28px"
                width="28px">

            <img type="image" src="../../../assets/editLabel.png" height="28px" width="28px">

            <img type="image" src="../../../assets/archive.png" height="28px" width="28px">

            <img type="image" src="../../../assets/delete_forever.png" height="28px"
                width="28px">
        </div>
        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
           
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                fixedTopGap="56">
                <mat-nav-list>
                    <mat-list role="list" class="hide">
                        <mat-list-item role="listitem">Notes</mat-list-item>
                        <mat-list-item role="listitem">reminder</mat-list-item>
                        <mat-list-item role="listitem">edit</mat-list-item>
                        <mat-list-item role="listitem">archive</mat-list-item>
                        <mat-list-item role="listitem">trash</mat-list-item>
                    </mat-list>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
       
    </div>
</div>

