<div class="input">
    <div class="note">

        <div  class="mat-title" fxLayout="row" fxLayoutAlign="space-between center">
            <input matInput [(ngModel)]="title" placeholder="Title" >
        </div>

        <div class="mat-title" fxLayout="row" fxLayoutAlign="space-between center">
            <input matInput  [(ngModel)]="description" placeholder="Description">
        </div>
        <app-icon-comp></app-icon-comp>
        <div class="app">
            <button mat-button class="button" (click)="closeDialog()">close</button>
        </div>
       
    </div>
</div>
