input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
   // border-width: 0px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 0px;
}
.no-outline:focus {
    outline: none;
}
.mat-title{
    margin-bottom: 2px;
}

.app{
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
}