.innDiv{
    display: flex;
}
.OutDiv{
    display: flex;
    border: 1px solid rgb(186, 184, 184);
    padding: 2px 1px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 3px rgb(222, 222, 222);
}
.card{

    width: 400px;
    max-height:250px;
    margin:25px auto 16px auto;
    border: 1px solid rgb(186, 184, 184);
  //  padding: 20px 15px 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
  //  box-shadow: 0 3px 3px 3px rgb(222, 222, 222);
  font-size: medium;
}
.icondiv{
    width:10px;
    visibility: hidden;
}
.notes:hover .icondiv{
    width:10px;
    visibility: visible;
 }


.box{
    display: flex;
    border: 1px solid rgb(186, 184, 184);
    padding: 2px 1px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 3px rgb(222, 222, 222);


}
.pin{

    height: 20px;
    width: 25px;
   // padding-bottom: 35px;
    margin-left: 90%;
    margin-top: 5%;
}

.notes:hover{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(157, 167, 170, 0.215);
}