<div fxLayout="row wrap" fxLayoutGap="10px grid" style="padding-top: 2%; padding-left: 10%;">
    <div class="notes"  *ngFor="let note of NoteList">
        <div appearance="fill" class="discard">
            <mat-card class="card" >
                <img class="pin" src="../../../assets/pin.png">
                <mat-card-title >
                    {{note.title}}
                </mat-card-title>
                <mat-card-content>
                    <p>{{note.note}}</p>
                </mat-card-content>
                <div class="icondiv" FxLayoutAlign="space-between centre">
                    <app-icon-comp  [notecard]="note"></app-icon-comp>
                </div>
            </mat-card>
        </div>
    </div>
</div>