<div class="container">
    <div class="header">
        <div class="Logo-name">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
            <h2 class="heading">Forget Password</h2>
            <h3 class="sub-heading">Enter your phone number or recovery email</h3>
        </div>

        <form [formGroup]="forgetPasswordForm"(ngSubmit)="onSubmit()">
            <div class="Email">
                <div class="email-class">
                    <mat-form-field appearance="outline" style="width:23vw;">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="">
                        <mat-error>Enter valid email</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        

        <div class="btn">
            <button mat-button class="reset">Reset password</button>
            <button class="btn-next" mat-flat-button  (click)="onSubmit()" >Submit</button>
        </div>
    </div>
</div>