:root{
    color-scheme: light;
}
body{
    color:#202124;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    line-height: 1.42;
}
.container{
    display: block;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;    
    min-height: 480px;
    position:absolute;
    width:446px;
    padding-left: 35px;
    padding-top:40px;
    padding-right: 40px;
    padding-bottom: 36px;
    margin-left: 38%;
    margin-top: 8%;
}
.Logo-name{
    text-align: center;
}
.forget-link{
    margin-top: -10px; 
    color: #1a73e8;
    padding-top: 5px;
    font-size: 14px;
}
.suggestion{
    margin-top: 15px;
}
.hint1{
   font-size: 14px;
}
.hint2{
    color: #1a73e8;
    font-size: 14px;
}
.route-btn{
    font-size: 30px;
    padding-left:-200px;
    padding-top: 60px;
}
.account{
    border: none;
    color:rgb(54, 148, 224);
    font-size: medium;
    background-color: transparent;
}
.btn-next{
    background-color: #1a73e8;
    height:33px;
    width:80px;
    border-radius: 3px;
    font-size: 15px; 
    text-align: center;
    color: white ;
    border: none; 
    float: right;
}

